body{
	background-image: url(../img/bg.png);
}

.whitelist{
	margin: 0% 10% 2% 10%;
	border: 1px solid blue;
	background-color: white;
}

p{
	font-family: Arial;
}


			/*header*/
.logo{
    width: 329px;
	float:left;
}	
img{
	clear: both;
	width: 100%;
}

.info{
	float: right;
	width: 60%;
}

.contacts{
	width: 35%;
	padding-top: 2%;
	float: right;
}

.contacts p{
	color: #128aa7;
	line-height: 1.2em;
}

.menu .country {
	clear: both;
	margin-right: 5%;
	padding-top: 1%;
}

.menu ul.country li{
	float: right;
    width: 70px;
	text-align: center;
}

.menu ul.country li a{
	font-family: Arial;
	font-size: 11px;
	color: #128aa7;
}

.menu ul.country li a img{
	width:50px;
}

header{
	background: linear-gradient(to top, #474747,#5c5c5c);
	height: 35px;
	box-shadow: 0 -2px 14px black;
}

header a{
	color: white;
	text-decoration: none;
}
 
ul.header li {
	float:left;
	list-style-type:none;
	position:relative;
	padding: 8px 25px;
	color: white;
	font-family: arial;
	text-shadow: 1px 1px 1px black;
 }
 
 
 ul.header li ul{
	display:none;
	position: absolute;
	left: 0;
	top: 100%;
	margin: 0;
	width: 170px;
	background:linear-gradient(to top, #474747,#5c5c5c);
	border: 1px solid black;
	line-height: 1.5em;
 }
 
 ul.header li:hover ul{
	display: block;
} 

.content{
	width:100%;
	float:left;
	background:url(../img/bg2.png) repeat-y;
	background-size:contain;
}
   			/*sidebar*/
			
h1 {
	color: grey;
	font-family: Arial;
	font-weight:bold;
	font-size: 1.5em;
	text-align:center;
	padding: 10px;
}

.sidebar{
	width: 17%;
	float: left;
	padding: 2%;
	text-align:center;
}	
			/*news + sidebar*/
.sidebar p,
.news p{
	color: grey;
	line-height:30px;
	font-size:14px;
}
			/*container*/
			
.container{
	width:60%;
	float:left;
}			

			/*news*/

.news{
	width: 17%;
	float: right;
	padding: 2%;
	text-align:center;
}
	
.clearfix:after{
	content: '';
	clear:both;
	display:block;
}
			/*footer*/
			
.rights{
	text-align:center;
	color: white;
	padding-bottom: 1%;
}	