.background{
	background-image: url(../img/bg.png);
	height: 100%;
	width: 100%;
}

.whitelist{
	margin: 0% 10% 2% 10%;
	border: 1px solid blue;
	background-color: white;
}

p{
	font-family: Arial;
}


			/*header*/
.logo{
    width: 33%;
	float:left;
}	
img{
	clear: both;
	width: 100%;
}

.info{
	float: right;
	width: 60%;
}

.contacts{
	width: 35%;
	padding-top: 2%;
	float: right;
}

.contacts p{
	color: #128aa7;
	line-height: 1.2em;
}

.menu .country {
	clear: both;
	margin-right: 5%;
	padding-top: 1%;
}

.menu ul.country li{
	float: right;
	margin-left: 5px;
    margin-right: 0px;
    width: 11%;
	text-align: center;
	font-size: 0.9em;
}

.menu ul.country li a{
	font-family: Arial;
	font-size: 0.75em;
	color: #128aa7;
}

header{
	background: linear-gradient(to top, #474747,#5c5c5c);
	height: 35px;
	box-shadow: 0 2px 6px black;
}

header a{
	color: white;
	text-decoration: none;
}

ul.header {
	margin: 0; 
	padding: 8px;
}
   
ul.header li {
	float:left;
	list-style-type:none;
	position:relative;
	margin: 0 25px; 
	color: white;
	font-family: arial;
	text-shadow: 1px 1px 1px black;
 }
 
 
 ul.header li ul{
	display:none;
	position: absolute;
	left: 0;
	top: 150%;
	margin: 0;
	width: 170px;
	background:linear-gradient(to top, #474747,#5c5c5c);
	border: 1px solid black;
	line-height: 2em;
	 
 }
 
 ul.header li:hover ul{
	display: block;
	
	
} 
   			/*sidebar*/
			
h1 {
	color: grey;
	font-family: Arial;
	font-weight:bold;
	font-size: 1.5em;
	text-align:center;
	padding: 10px;
	
}
.sidebar{
	width: 25%;
	float: left;
	background-color:#edeef0;
	padding: 2%;
	border: 1px solid gray;
	text-align:center;
	height:100%;
}	
			/*news + sidebar*/
.sidebar p,
.news p{
	color: grey;
	line-height:30px;
}

.news,
.sidebar {
	margin-top:2px;
}
			/*news*/

.news{
	width: 20%;
	float: right;
	background-color:#edeef0;
	padding: 2%;
	border: 1px solid gray;
	text-align:center;
}
	
.clearfix:after{
	content: '';
	clear:both;
	display:block;
}
			/*footer*/
			
			.rights{
	text-align:center;
	color: white;
	padding-bottom: 1%;
}	